workdir/
data/
models/
logs/
log*/
*__pycache__
model_output
outputs
reg_outputs
test_outputs
bench_samples_standard/
train_data/
## weights anf lib
.cache/
.insightface
models.zip
train_data.zip
wandb
local_scripts
configs/unidiffuserv1.py
AIris_submit.tar.gz
project.zip
